.boton {
  background-color: tomato;
  color: yellow; }

.galeria {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.galeria2 {
  display: flex;
  justify-content: center;
  align-items: center; }

.bg-elemento {
  border: solid 2px purple; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.904);
  background-color: white; }

.menu-color {
  background-color: #0624448f; }

.hero {
  width: 100%;
  height: 450px;
  text-align: center;
  color: black;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-image: url(../img/quinn-battick-ZvtYlEeA44I-unsplash-11e83a3cce1a45918796b80e491c36a7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .hero a {
    text-decoration: none;
    padding: 4px;
    font-size: 15px;
    border: 15px; }
  .hero h2 {
    text-decoration: none;
    font-size: 50px; }

.grid-galeria {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; }
  .grid-galeria div {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .grid-galeria div img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.productos {
  padding: 50px 20px;
  text-align: center; }
  .productos div a:hover {
    background-color: rgba(127, 255, 212, 0); }
  .productos h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #062444; }
  .productos .productos-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .productos .productos-grid div {
      margin: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      transition: 1s; }
      .productos .productos-grid div:hover {
        background-color: rgba(127, 255, 212, 0);
        transform: scale(1.1);
        -webkit-box-shadow: 10px 10px 23px -4px #062444;
        -moz-box-shadow: 10px 10px 23px -4px #062444;
        box-shadow: 10px 10px 23px -4px #062444; }
    .productos .productos-grid .productos-items {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      margin: 10px;
      width: 190px; }
      .productos .productos-grid .productos-items img {
        max-width: 100%;
        height: 160px;
        border-radius: 5px; }
      .productos .productos-grid .productos-items .btn {
        background-color: #06244477;
        color: #070707;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 10px;
        transition: 0, 6s; }
        .productos .productos-grid .productos-items .btn:hover {
          background-color: rgba(127, 255, 212, 0); }

/*!INDEX*/
.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 40px; }
  .whatsapp a {
    width: 50px; }
  .whatsapp img {
    width: 50px; }

footer {
  background-color: #062444;
  color: white;
  text-align: center;
  padding: 10px; }
  footer .social-links a {
    color: white;
    text-decoration: none;
    margin: 5px; }
