
footer {
    background-color: #062444;
    color: white;
    text-align: center;
    padding: 10px;

    .social-links {

        a {
            color: white;
            text-decoration: none;
            margin: 5px;

        }
    }
}